@import url('https://fonts.googleapis.com/css2?family=Ballet:opsz@16..72&family=Imperial+Script&family=Updock&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	height: 100%;
	background: #FFF;
	background-size: cover;
	background-attachment: fixed;
	font-family: 'Noto Sans JP';
}

body {
	min-height: 100svh;
}